* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Playfair Display", sans-serif;
  /* background: url('./image/smooth-stucco-wall_1194-7087.jpeg'); */
  /* background-color: #E8D9C2; */
}


.header{
  height: 100px;
  text-align: center;
  background-color: rgb(242, 201, 145);
}

.route-header{
  height: 50px;
  text-align: center;
  background-color: #a88e7a;
}

.button {
  background-color: rgb(242, 201, 145);
  text-align: right;
}

.button-1 {
  background-color: burlywood; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-2 {
  background-color: bisque; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-3 {
  background-color: burlywood; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  text-align: right;
  margin-right: 8px;
}


img {
  max-width: 200px;
}


.dog-container {
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background: blanchedalmond;
  padding: 20px;
  font-size: 15px;
  margin: 3px;
  
}

.card-img{
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .dog-container{
    flex-direction: column;
  }
}





