* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Playfair Display", sans-serif;
}


.header{
  text-align: center;
  /* background-color: cadetblue; */
}

.route-header{
  text-align: center;
  background-color: burlywood;
}



.class-body{
  max-width: 40%;
  margin: 1rem;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* 
  max-height: 310px;
  max-width: 400px;
  width: 100%; */
}

img {
  max-width: 40%;
}


section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}




