* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Playfair Display", sans-serif;
  /* background: url('./image/smooth-stucco-wall_1194-7087.jpeg'); */
  /* background-color: #E8D9C2; */
}


.header{
  height: 100px;
  text-align: center;
  background-color: rgb(242, 201, 145);;
}

.route-header{
  height: 50px;
  text-align: center;
  background-color: #a88e7a;
  /* background-color: rgb(242, 201, 145);; */
}



.class-body{ 
  text-align: center;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* max-height: 310px; */
  /* max-width: 400px; */
  /* width: 100%;  */
  /* max-width: 40%; */
  margin: 1rem;
  flex-direction: row-reverse;
}

img {
  max-width: 20%;
}


section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.foster-card{
  text-align: center;
  margin: 1rem;
}

